<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static "css/mv_reg.css"%}">
    <title></title>
  </head>
  <body>
    <h1>MOVIES INFORMATION</h1>
    {% if movie %}
      <table>
        <thead>
          <th>Release Date</th>
          <th>Movie Name</th>
          <th>Hero</th>
          <th>Heroiner</th>
          <th>Rating</th>
        </thead>
        {% for mov in movie %}
          <tr>
            <td>{{mov.rdate}}</td>
            <td>{{mov.mname}}</td>
            <td>{{mov.hero}}</td>
            <td>{{mov.heroine}}</td>
            <td>{{mov.rating}}</td>
          </tr>
        {% endfor %}
      </table>
    {% else %}
      <p style='text-align:center;'> Sorry No Movies Found</p>
      {% endif %}
  </body>
</html>
